.mApp {
  text-align: left;
  min-height: 100vh;
  background-color: rgb(245,246,247);
  position: relative;
  padding-bottom: 85px;
}

.mHeader {
  background-color: #3f51b5;
  padding:2rem;
  margin: 0 auto;
}

.mContent {
  margin: 4rem 2rem 0 2rem;
}

.mContent p {
  line-height: 2.0rem;
  font-size: 1.6rem;
}

.mAvatar {
  margin: 0 0 20px 20px;
  float: right;
  border-radius: 35%;
  height: 240px;
  width: 240px;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
}

.mNavbar ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin:0;
  padding:0;
}

.mNavbar li {
  text-align: center;
  font-family: Comfortaa, sans-serif;
  font-size: 1.7rem;
  flex: 1;
  margin:0;
  padding:0;
}

.mNavbar li.mBrand {
  font-size: 2.3rem;
  color: whitesmoke;
}

.mNavbar li.mBrand button {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
}

.mNavbar li.mBrand button:hover {
  color: white;
}

.mNavbar button {
  color: white;
  text-decoration: none;
  border:none;
  background: none;
}

.mNavbar button:hover,
.mNavbar button.navActive {
    color: #ff9900;
}

.mPortfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vw auto;
  width:35vw;
  max-width:600px;
  height:20vw;
  box-shadow: 4px 4px 12px gray;
  background: whitesmoke;
  margin-bottom: 15px;
  padding: 0 !important;
  border: 1px solid #2f3d7f;
  border-radius: 6px;
}

.mProject:hover {
  box-shadow: none;
}

.mProject h2 {
  font-size: 1.8rem;
}

.mProject h2 > a.mProjectSrcLink {
  font-size: 2rem;
  margin-left: 10px;
  vertical-align: super;
}

.mProject h2 > a.mProjectSrcLink:hover {
  color: #ff9900;
}

.mProject h2 > a {
  text-decoration: none;
}

.mProject h5 {
  font-size: 1rem;
  color: black;
}

.mProjectLinks {
  background: rgba(255, 255, 255, 0.7);
  width: 70%;
  height: 40%;
  padding: 1rem;
  border-radius: 20px;
}

.mFooter {
  overflow: hidden;
  position: absolute;
  bottom: 0;    
  background-color: #2f3d7f;
  width: 100%;
  height: 70px;
  font-size: 2.75em;
  text-align: center;
  display: flex;
  justify-content: center;
}

.mFooter a {
  color: #3f51b5;
  margin: 15px 5% 0 0;
  text-decoration: none;
}

.mFooter a:hover {
  color: #ff9900;
}
