.App {
  text-align: left;
  min-height: 100vh;
  background-color: rgb(245,246,247) ;
}

.App-header {
  background-color: #3f51b5;
  min-height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:2rem;
}

